:root{
    --cor-principal: #fff159;
    --cor-preta: black;
    --cor-oferta: #3682fd;
    --cor-branca: #f1ffff;
    --cor-valor: #2ca469;
    --cor-valor-parc: #4db68a;
    --cor-textos: #383838;
    --cor-rodape:
}

*{
    margin: 0px;
    padding: 0px;
}
#cabecalho{
     background-color: var(--cor-principal);
}

#cabecalho .topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
    border-bottom: 1px solid black;
}

.BarraPesquisa input{
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    border: none;
}
.BarraPesquisa button{
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
    border: none;
}
.topo ul a{
    padding: 15px;
    text-decoration: none;
    color: var(--cor-preta);
}
.butom {
    border: none;
    background: transparent;
}
#cabecalho .categorias {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
#corpo .ofertas {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.ofertas figure {
    border-radius: 10px;
}
.ofertas div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.of2 h3 {
    display: flex;
    justify-content: center;
}
.ofDia {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.prom {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.prom figure {
    border-radius: 10px;
}
.prom div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.of3 a {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#rodape {
    background-color: #fff159;
    background-image: url(img/rodape.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 50px 0px;

}
#rodape .fot {
    display: flex;
    justify-content: space-around;
}

.h1{
    background-color: blue;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    width: 90px;
    justify-content: center;
    text-align: center;
} 